// section fag
.fag {
  padding-bottom: calc(150px - 44px);
  .container {
    padding: 0;
  }
  .main-section__subtitle,
  .main-section__title {
    padding: 0 15px;
  }
  &__title {
    margin-bottom: 85px;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    max-width: 100%;
    width: 50%;
    margin-bottom: 44px;
    padding: 0 15px;
    &__title {
      font-size: 20px;
      line-height: 30px;
      color: $color-light-black;
      margin-bottom: 21px;
    }

    &__content {
      color: $text-color-primary;
      line-height: 30px;
    }
  }

  @include responsive(lt-tablet-m) {
    padding-bottom: calc(100px - 30px);
    &__item {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  @include responsive(lt-mobile) {
    padding-bottom: calc(60px - 30px);
    &__item {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}
// end section fag
