// section brain
.brain {
  background: url(../../assets/images/team-bg.jpg) no-repeat top / cover;
  padding: 150px 0 calc(150px - 46px);
  .main-section__title {
    margin-bottom: 58px;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 -15px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 16.666666666%;
    padding: 0 15px;
    margin-bottom: 46px;
    position: relative;
    cursor: pointer;
    &:hover {
      .brain__img {
        transform: scale(1.05);
      }
    }
  }

  &__avatar {
    width: 110px;
    height: 110px;
    margin-bottom: 22px;
    overflow: hidden;
    border-radius: 50%;
  }

  &__img {
    width: 100%;
    height: 100%;
    transition: 0.4s;
  }

  &__icon {
    position: absolute;
    width: 23px;
    height: 23px;
    top: 5px;
    right: calc((100% - 110px) / 2);
    z-index: 4;
  }

  &__name {
    color: $color-white;
    margin-bottom: 10px;
  }

  &__role {
    color: #ffd3d7;
    font-size: 16px;
  }

  @include responsive(lt-tablet) {
    &__info {
      width: 25%;
    }
  }
  @include responsive(lt-tablet-m) {
    padding: 100px 0 calc(100px - 46px);
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .main-section__subtitle {
      margin-bottom: 15px;
    }
    &__info {
      width: 33.333333333%;
    }
  }
  @include responsive(lt-tablet-s) {
    &__info {
      width: 50%;
    }
  }
  @include responsive(lt-mobile) {
    padding: 60px 0 calc(60px - 46px);
    .main-section__title {
      margin-bottom: 35px;
    }
  }
}
// end section brain
