// section partnert
.partner {
  padding: 90px 0 0;
  &__box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex: auto;
    justify-content: center;
  }
  .partner-logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 28px 40px 0;
    flex: 1;
  }

  @include responsive(lt-tablet-m) {
    padding-top: 60px;
  }

  @include responsive(lt-mobile) {
    padding-top: 60px;
  }
}
// end section partner
