.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
  width: 100%;
  background-color: rgba($color: $color-white, $alpha: 1);
  border-bottom: 1px solid #f5f5f5;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.4s;
  z-index: 10;
  overflow-y: hidden;
  &__logo {
    display: flex;
    align-items: center;
    position: relative;
    top: -3.5px;
    min-height: 90px;
    &__img {
      width: 45px;
      height: 51px;
      margin-right: 13px;
      background: url(../../assets/images/Logo_gradient.svg) no-repeat center / contain;
    }
    &__title {
      font-size: 30px;
      font-family: Gilroy-Light;
      color: $text-color-primary;
      position: relative;
      top: -1px;
    }
  }

  &__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    .navigation__item:not(:last-child) {
      margin-right: 35px;
    }
  }

  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 228px;

    &__language {
      display: block;
      background-color: transparent;
      min-width: 35px;
      height: 30px;
      margin-right: 30px;
      line-height: 30px;
    }

    &__select-hidden {
      visibility: hidden;
    }

    &__select-style {
      .language-select__item {
      }
    }

    &__btn-group {
      display: flex;
      a {
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0;
      }
    }
    &__btn-signin {
      min-width: 92px;
      height: 40px;
      margin-right: 22px;
    }

    &__btn-signup {
      white-space: nowrap;
    }
  }

  &__menu {
    display: none;
    position: absolute;
    top: 45px;
    right: 40px;
    transform: translateY(-50%);
    & > i {
      color: $text-color-primary;
    }
  }

  // header background transparent
  &--transparent {
    border: none;
    background-color: rgba($color: $color-white, $alpha: 0);
    .header {
      &__logo {
        &__img {
          background: url(../../assets/images/Logo_white.svg) no-repeat center / contain;
        }
        &__title {
          color: $color-white;
        }
      }

      &__navigation {
        .navigation__link {
          color: $color-white;
          &::after {
            background-color: $color-white;
          }
        }
      }

      &__right {
        &__btn-signup {
          color: $color-white !important;
        }
        &__language {
          color: $color-white !important;
        }
      }

      &__menu {
        & > i {
          color: $color-white;
        }
      }
    }
  }

  @include responsive(lt-desktop) {
    &__navigation {
      .navigation__item:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
  @include responsive(tablet) {
    flex-direction: column;
    align-items: flex-start;
    .navigation {
      flex-direction: column;
      padding: 20px 50px 0;
      &__item {
        margin-bottom: 20px;
      }
    }
  } 
  @include responsive(lt-tablet) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: initial;
    height: 100%;
    height: 90px;
    .navigation {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px 50px 0;
      margin-bottom: 20px;
      &__item {
        margin-bottom: 20px;
      }
    }
    &__right {
      flex-direction: column;
      align-items: flex-start;
      padding: 0 50px;
      &__language {
        margin-bottom: 30px;
      }
    }
    &__menu {
      display: inline-block;
    }
  }

  @include responsive(lt-tablet-s) {
    padding: 0 15px;
    &__menu {
      right: 15px;
    }
  }
}
