@font-face {
  font-family: "Gilroy-Light";
  src: url("../../assets/fonts/Gilroy-Light.woff");
}

* {
  font-family: Catamaran, sans-serif;
  color: $text-color-primary;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  z-index: 3;
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

body,
.app {
  overflow-x: hidden;
}

::selection {
  color: $text-color-selection;
  background: $color-selection;
}

.title {
  font-family: Raleway;
  font-weight: 700;
}

.mg-0 {
  margin: 0 !important;
}

.txt {
  &--light-blue {
    color: $color-light-blue !important;
  }
  &--light-red {
    color: $color-light-red !important;
  }
  &--light-pink {
    color: $color-light-pink !important;
  }
  &--light-green {
    color: $color-light-green !important;
  }
  &--light-purple {
    color: $color-light-purple !important;
  }
  &--light-orange {
    color: $color-light-orange !important;
  }
  &--light-black {
    color: $color-light-black !important;
  }
  &--center {
    text-align: center;
  }
  &--no-wrap {
    white-space: nowrap;
  }
}

.bg {
  &--light-blue {
    background-color: $color-light-blue !important;
  }
  &--light-red {
    background-color: $color-light-red !important;
  }
  &--light-green {
    background-color: $color-light-green !important;
  }
  &--light-purple {
    background-color: $color-light-purple !important;
  }
  &--light-orange {
    background-color: $color-light-orange !important;
  }
}

.border {
  &--light-blue {
    border-color: $color-light-blue !important;
  }
  &--light-red {
    border-color: $color-light-red !important;
  }
  &--light-green {
    border-color: $color-light-green !important;
  }
  &--light-purple {
    border-color: $color-light-purple !important;
  }
  &--light-orange {
    border-color: $color-light-orange !important;
  }
}
