// background color
$color-primary: #8761a8;
$color-white: #fff;
$color-black: #000;
$color-selection: orange;

//text color
$text-color-primary: #777;
$text-color-selection: #fff;
$text-color-title: #51475a;

// color
$color-light-purple: $color-primary;
$color-light-green: #16bf86;
$color-light-blue: #5874cf;
$color-light-red: #f09790;
$color-light-pink: #f4929b;
$color-light-orange: #ffae57;
$color-light-black: #333;
